<div style="text-align:center">
  <p style="font-size:48px;  font-family:  arial, sans-serif;"><strong>Maths Quiz</strong></p>
  <p style="font-size:28px; font-family:   arial, sans-serif;"><i>You have 2 minutes(120 seconds)to answer 20 questions</i><br>-the timer with begin and the questions will appear when you press 'start!' :-)<br>When you have finished/the timer has run out <br>please press 'mark!' at the bottom of the page<br> What
    are you waiting for?
    <p>
      <img src="/assets/mathspicture.jpg" alt="maths picture" style="width:512px;height:288px;">
      <form>
        <div [hidden]="start">
          <input [(ngModel)]="multiply" type="checkbox" name="symbol">Multiply
          <input [(ngModel)]="divide" type="checkbox" name="symbol">Divide
        </div>
      </form>
      <p [hidden]="start" style="text-align:center; font-family:  arial, sans-serif; ">Your name: <input [(ngModel)]="name" type="text" name="input1" id="text field"></p>

      <button [hidden]="start" (click)="question()">Start!</button>
      <p id="time" style="font-size:32px;text-align: center; font-family:  arial, sans-serif">Time left (seconds):{{timer}}</p>

      <p style="font-size:46px; font-family:  arial, sans-serif; ">Questions:</p>

</div>

<div [hidden]="questions" *ngFor="let q of questionlist; let i = index" style="float:left;margin:100px;">
  <p style="font-size;28px;  font-family:  arial, sans-serif;" class="question">{{i+1}}) {{q}}?</p>
  <ul class="answers" *ngFor="let x of answerlist[i];let i2 = index">
    <input type="radio" [disabled]="disabled" [(ngModel)]="studans[i]" name="q{{i}}" value="{{x}}" id="q{{i}}{{i2}}"><label for="q{{i}}{{i2}}">{{x}}</label><br/>
  </ul>
</div>

<div style="clear:both;text-align:center">
  <p id="time" style="font-size:32px; text-align: center; font-family:  arial, sans-serif">Time left (seconds):{{timer}}</p>
  <button [hidden]="markbutton" type="button" (click)="mark()">Mark!</button>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>

  <tr *ngFor="let t of nameandscore">
    <td>{{t.name}}</td>
    <td>{{t.score}}</td>
  </tr>

</table>
